body {
    font-family: Helvetica, Tahoma, sans-serif; 
}

.row {
    display: flex;
    margin: .2em;
    padding: .2em;
}

.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

.list {
    overflow: auto;
    height: 500px;
}

.error {
    display: inline-block;
    width: 90%;
    padding: .1em;
    border: thin solid rgb(150, 17, 17);
    background-color: rgb(255, 199, 199);
    color: rgb(150, 17, 17);
}